/* Universal selector */

* {

    margin: 0;
    padding: 0;
}

/* Element selector */
h2 {
    color: darkblue;
    margin: 10px;
}

/* ID selector */
#mainHeader {
    background-color: orange;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Class selector */
.eventCard {
    border: 2px solid gray;
    padding: 15px;
    margin: 15px;
    background-color: lightyellow;
}

/* Grouping selector */
h3,
p {
    font-family: Arial;
    color: darkgreen;
}